<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Register</h3>
</div>
<div class="modal-body" id="modal-body">
    <form ng-submit="modal.ok()">
        <div class="input-group animated fadeIn">
            <input type="text" class="form-control finderBar" ng-model="usernameModal.userName" placeholder="Please enter a user name..." autofocus>
            <span class="input-group-btn">
                <button class="btn btn-default btn-success" type="button" ng-click="usernameModal.ok()">Go!</button>
            </span>
        </div>
    </form>
</div>